<div class="list row">
    <div class="col-md-12">
        <h4>Member List</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>suffix</th>
                    <th>F. Expiration</th>
                    <th>email</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for (member of members; track member.memberId; let i = $index) {
                <tr>
                    <td>{{ member.memberId }}</td>
                    <td>{{ member.lastName }}</td>
                    <td>{{ member.firstName }}</td>
                    <td>{{ member.suffix }}</td>
                    <td>{{ member.expiration }}</td>
                    <td>{{ member.email }}</td>
                    <td>
                        <a [routerLink]="['/members', member.memberId, 'Edit']"  class="btn btn-primary btn-sm active" role="button" aria-pressed="true" >Modificar</a>
                    </td>
                    <td>
                        <a [routerLink]="['/members', member.memberId, 'view']"  class="btn btn-primary btn-sm active" role="button" aria-pressed="true" >Consutar</a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger btn-sm active" role="button" aria-pressed="true" (click)="removeMember(member.memberId)">Eliminar</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>        
    </div>
</div>      